body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.high {
  background-color: rgb(223, 223, 223);
}
header {
  height: 60px;
  display: flex;
  border-bottom: 3px solid rgb(218, 218, 218);
  background-color: white;
}
header div {
  padding: 5px;
  width: 1200px;
  margin: 0 auto;
}
header img {
  height: 100%;
  /* border: 3px solid black; */
}
main {
  width: 1200px;
  margin: 0 auto;
}
.low {
  background-color: white;
  height: 250px;
  display: flex;
  align-items: center;
}

.header2 {
  width: 1200px;
  margin: 0 auto;

  height: 200px;
  display: flex;
  margin-bottom: 20px;
  gap: 30px;
}
.header2 img {
  height: 100%;
  border-radius: 10px;
}
.header2 div:first-child {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header2 div:last-child {
  flex: 1;
}
.header2 h1 {
  font-size: 170%;
  font-weight: bold;
}
.header2 p {
  color: gray;
}
.full-body {
  display: flex;
}
.left-body {
  /* border: 3px solid black; */
  flex: 6;
}
.right-body {
  display: flex;
  align-items: flex-start;
  /* border: 3px solid black; */
  flex: 2;
}
.caté {
  padding-left: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

h2 {
  font-size: 120%;
  font-weight: bold;
}
.meal-box {
  margin-bottom: 20px;
  height: 150px;
  padding: 10px;
  display: flex;
  width: 45%;
  border-radius: 5px;
  background-color: white;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.meal-box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.086),
    0 6px 20px 0 rgba(0, 0, 0, 0.042);
}
.meal-box > div > div:nth-child(2) {
  overflow: hidden;
  height: 50%;
}
.meal-box > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  flex: 3;
}
.meal-box > div:nth-child(2) {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
}
.meal-box div > p {
  color: gray;
}
.meal-box div:last-child > p:last-child {
  color: rgb(255, 140, 0);
}
.meal-box img {
  height: 75%;
  border-radius: 5px;
}
.caté > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
.meal-box > div:first-child > div:last-child {
  display: flex;
  gap: 30px;
}

.panier {
  /* border: 2px solid orange; */
  position: sticky;
  top: 20px;
  border-radius: 5px;
  margin-top: 30px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
  gap: 10px;
}
.panier > button {
  width: 90%;
  height: 20%;
  border-radius: 5px;
  background-color: gray;
  border-style: hidden;
  font-weight: bold;
  color: rgb(109, 109, 109);
}
.panier {
  color: gray;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.panier .accept {
  height: 25px;
  margin-bottom: 15px;
  background-color: rgb(0, 205, 189);
  color: white;
}
.panier .not-empty {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid rgb(0, 255, 162); */
  height: 100px;
}
.scroller {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: black;
  width: 100%;
  display: flex;
  overflow: scroll;
  /* border: 2px solid red; */
  max-height: 400px;
}
.panier .not-empty > div {
  /* border: 2px solid rgb(0, 255, 162); */
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panier .not-empty > div > div {
  display: flex;
  margin-left: 5px;
  /* border: 2px solid rgb(255, 187, 0); */
}
.panier .not-empty > div > p {
  /* border: 2px solid rgb(0, 255, 89); */
  width: 70%;
}
.panier .not-empty > div button {
  border-radius: 50px;
  color: rgb(0, 205, 189);
  background-color: white;
  border-style: hidden;
}
.prices {
  width: 95%;
  color: black;
}
.prices div {
  display: flex;
  justify-content: space-between;
}
.prices > div:first-child {
  flex-direction: column;
  border-top: 2px solid #c6c6c6;
  border-bottom: 2px solid #c6c6c6;
}
.prices > div:first-child p {
  margin: 20px 0;
}
.prices div:first-child div {
  flex-direction: row;
}
.prices > div:last-child {
  margin-top: 20px;
  font-size: 125%;
  font-weight: bold;
}
